<header class="row">
<div class="col">
<h1><%= @room.name %></h1>
  <p>
    <strong>Owner:</strong>
    <%= @room.user.email%>
  </p>
  </div>
  <div class="col">
  <nav class="nav">
    <%= link_to "Edit this room", edit_room_path(@room), class: 'nav-link nav-item' %> |
  <%= link_to "Back to rooms", rooms_path, class: 'nav-link nav-item' %>
  <%= button_to "Destroy this room", @room, method: :delete, class: 'btn btn-danger ml-auto' %>
</nav>
</div>
</header>
<hr>
<div id="<%= dom_id @room%>" data-controller="messages" class="row">
    <%= turbo_stream_from dom_id @room %>
  <div id="messages" data-messages-target="container" class="col">
    <%= render @room.messages %>
  </div>
  <%= render "messages/form" %>
</div>


